body {
    background-color: black;
    font-family: "Sofia", sans-serif;
    font-size: 20px;
    color: gray;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
    color: white;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: blue;
}

/* Poppins, sans-serif; */

/* unvisited link */
a:link {
    color: red;
  }
  
  /* visited link */
  a:visited {
    color: green;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }

  a:link, a:visited {
    background-color: #dbfa6d;
    color: rgb(228, 111, 111);
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: rgb(40, 171, 214);
  }

a.one:link {color:#ff0000;}
a.one:visited {color:#0000ff;}
a.one:hover {color:#ffcc00;}

a.two:link {color:#ff0000;}
a.two:visited {color:#0000ff;}
a.two:hover {font-size:150%;}

a.three:link {color:#ff0000;}
a.three:visited {color:#0000ff;}
a.three:hover {background:#66ff66;}

a.four:link {color:#ff0000;}
a.four:visited {color:#0000ff;}
a.four:hover {font-family:monospace;}

a.five:link {color:#ff0000;text-decoration:none;}
a.five:visited {color:#0000ff;text-decoration:none;}
a.five:hover {text-decoration:underline;}

a:link, a:visited {
    background-color: white;
    color: black;
    border: 2px solid green;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: green;
    color: white;
  }

  ul.a {list-style-type: circle;}
  ul.b {list-style-type: disc;}
  ul.c {list-style-type: square;}
  
  ol.d {list-style-type: armenian;}
  ol.e {list-style-type: cjk-ideographic;}
  ol.f {list-style-type: decimal;}
  ol.g {list-style-type: decimal-leading-zero;}
  ol.h {list-style-type: georgian;}
  ol.i {list-style-type: hebrew;}
  ol.j {list-style-type: hiragana;}
  ol.k {list-style-type: hiragana-iroha;}
  ol.l {list-style-type: katakana;}
  ol.m {list-style-type: katakana-iroha;}
  ol.n {list-style-type: lower-alpha;}
  ol.o {list-style-type: lower-greek;}
  ol.p {list-style-type: lower-latin;}
  ol.q {list-style-type: lower-roman;}
  ol.r {list-style-type: upper-alpha;}
  ol.s {list-style-type: upper-latin;}
  ol.t {list-style-type: upper-roman;}
  ol.u {list-style-type: none;}
  ol.v {list-style-type: inherit;} 